NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in

POSTGRES_DB_URL=

AWS_BUCKET_NAME=
AWS_BUCKET_REGION=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=

NEXT_PUBLIC_AWS_BUCKET_URL=

ANTHROPIC_API_KEY=